spring:
  application:
    name: Shoes_Management
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${URL}
    username: ${USER_NAME}
    password: ${PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    open-in-view: false

  # Java mail sender
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SUPPORT_EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    user:
      name: user
      password: $2a$10$Gr8EIuXubcKPcvPb5BGsPOX4eJsK81GllH0JjP6Xn06CJU/7XIrTC # 123
  config:
    import: "optional:file:.env[.properties]"

  app:
    jwtExpirationMs: ${EXPIRED_TIME}
    signerKey: ${SIGNER_KEY}