<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="text-light" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Shoes</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="#nike">Nike</a></li>
                    <li><a href="#adidas">Adidas</a></li>
                    <li><a href="#moiNhat">Mới nhất</a></li>
                    <li><a href="#tatCa">Tất cả</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
                <h5>LIÊN HỆ VỚI SHOP</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Hướng dẫn đặt hàng</a></li>
                    <li><a href="">Thông tin thanh toán</a></li>
                    <li><a href="">Chính sách giao hàng và nhận hàng</a></li>
                    <li><a href="">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
                <h5>THÔNG TIN FANPAGE</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
            </div>

            <div class="col-md-3 col-lg-3 col-xl-3">
                <h5>THÔNG TIN SHOP</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"> Thạch Thất, Hòa Lạc</i></li>
                    <li><i class="fa fa-envelope mr-2"></i>Trần Xuân Hoàn</li>
                    <li><i class="fa fa-phone mr-2"></i> 0949268271</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>