<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--begin of menu-->
<div th:fragment="menu1(searchForm)">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">Tran Hoan Shoes Market</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li th:if="${session.get('account') != null && session.get('account').isAdmin == 1}"
                        class="nav-item">
                        <a class="nav-link" th:href="@{/manager_account}">Account Management</a>
                    </li>
                    <li th:if="${session.get('account') != null && session.get('account').isSell == 1}"
                        class="nav-item">
                        <a class="nav-link" th:href="@{/manager_product}">Products Management</a>
                    </li>
                    <li th:if="${session.get('account') != null}" class="nav-item">
                        <a class="nav-link" href="#">Hello <p th:text="${session.get('account').getUsername()}"></p></a>
                    </li>
                    <li th:if="${session.get('account') != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/edit_profile}">Edit Profile</a>
                    </li>
                    <li th:if="${session.get('account') != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/invoice}">Invoice</a>
                    </li>
                </ul>

                <div th:replace="~{search :: search(${searchForm})}"></div>
                <a class="btn btn-success btn-sm ml-3" th:href="@{/manage_cart}">
                    <i class="fa fa-shopping-cart"></i>
                    <span style="font-size: 14px;">Cart</span>
                    <b>
                        <span id="amountCart" class="badge badge-light" style="color: black; font-size: 12px;"></span>
                    </b>
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item" th:if="${session.get('account') != null}">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>

                    <form th:action="@{/login}" th:method="POST">
                        <li class="nav-item" th:if="${session.get('account') == null}">
                            <button style="background-color: #343a40!important;color: white" type="submit">
                                Login
                            </button>
                        </li>
                    </form>
                </ul>

            </div>
        </div>
    </nav>
    <!--end of menu-->
</div>
</html>